section.section
	.container
		.section__title
			h2.h2.text-center Конкурентні переваги
		.section__grid
			article.advantage.advantage_black.advantage_experience
				.advantage__icon
					.icon-wrapper.icon-wrapper_yellow
						span.icon.icon_l.icon_medal
				h3.advantage__title.bold.h5 Професіоналізм і досвід
				p.advantage__text В HUNTERS працюють тільки висококваліфіковані майстри з багаторічним досвідом..
			article.advantage
				.advantage__icon
					.icon-wrapper
						span.icon.icon_l.icon_window
				h3.advantage__title.bold.h5 Прозорість
				p.advantage__text Панорамні вікна в лаунж-зоні, що виходять в робочі цехи, дозволяють  спостерігати за процесом ремонту, забезпечуючи його відкритість.
			article.advantage
				.advantage__icon
					.icon-wrapper
						span.icon.icon_l.icon_tech
				h3.advantage__title.bold.h5 Високотехнологічне обладнання
				p.advantage__text Сучасне обладнання від провідних світових виробників.
			article.advantage.advantage_black.advantage_insurance
				.advantage__icon
					.icon-wrapper.icon-wrapper_yellow
						span.icon.icon_l.icon_shield-check
				h3.advantage__title.bold.h5 Страхування
				p.advantage__text У співпраці з надійними страховими компаніями надаємо послуги з автострахування за системою прямого врегулювання збитків.
		.section__row
			article.advantage.advantage_black.advantage_lines
				.advantage__icon
					.icon-wrapper.icon-wrapper_yellow
						span.icon.icon_l.icon_duplicate
				h3.advantage__title.bold.h5 Підмінний автомобіль
				p.advantage__text Залишайтесь мобільними під час ремонту чи обслуговування Вашого транспортного засобу.
			article.advantage.advantage_black.advantage_lines
				.advantage__icon
					.icon-wrapper.icon-wrapper_yellow
						span.icon.icon_l.icon_concierge
				h3.advantage__title.bold.h5 Консьєрж-сервіс
				p.advantage__text Заберемо, відремонтуємо та повернемо Вам авто у зручний час за вказаною адресою.
