.container
	.app
		.app__inner
			.app__preview
				.app__icon
				div
					.app__name HUNTERS APP
					.stars
						span.icon.icon_star
						span.icon.icon_star
						span.icon.icon_star
						span.icon.icon_star
						span.icon.icon_star
			.app__title.h2.bold Встановлюй додаток, отримай <span class="mark">знижку 15%</span> на техогляд
			.app__btns
				a.app__btn.app__btn_apple(href="#" rel="noopenner nofollow noreferrer" target="_blank")
					span.visually-hidden Скачати з App Store
				a.app__btn.app__btn_google(href="#" rel="noopenner nofollow noreferrer" target="_blank")
					span.visually-hidden Скачати з Google Play
		picture
			source(srcset="img/placeholder.png" type="image/webp" data-srcset="img/app/phones.webp")
			img.app__img.lozad(src="img/app/phones.png" srcset="img/placeholder.png" data-srcset="img/app/phones.png" alt="Назва відео")
