.bottom-bar
    .bottom-bar__inner
        ul.bottom-bar__list(role="menubar")
            li.bottom-bar__item(role="none")
                a.bottom-bar__link(href="#" role="menuitem")
                    span.bottom-bar__icon
                        span.icon.icon_b.icon_pricing-outline
                    span.bottom-bar__text Ціни
            li.bottom-bar__item(role="none")
                a.bottom-bar__link(href="#" role="menuitem")
                    span.bottom-bar__icon
                        span.icon.icon_b.icon_services-outline
                    span.bottom-bar__text Послуги
            li.bottom-bar__item(role="none")
                a.bottom-bar__link(href="#" role="menuitem")
                    span.bottom-bar__icon
                        span.icon.icon_b.icon_portfolio-outline
                    span.bottom-bar__text Портфоліо
            li.bottom-bar__item(role="none")
                a.bottom-bar__link(href="#" role="menuitem")
                    span.bottom-bar__icon
                        span.icon.icon_b.icon_sale-outline
                    span.bottom-bar__text Акції
            li.bottom-bar__item(role="none")
                a.bottom-bar__link(href="#" role="menuitem")
                    span.bottom-bar__icon
                        span.icon.icon_b.icon_map-pin-outline
                    span.bottom-bar__text Контакти
