.diagnostics
	.container
		.diagnostics__wrapper
			.diagnostics__col.diagnostics__col_left
				.diagnostics__content
					h2.h2.diagnostics__title=title
					p.text-l.diagnostics__text=text
			.diagnostics__col.diagnostics__col_right
					ul.diagnostics__list
						+card-diagnostics(iconCard1, titleCard1)
						+card-diagnostics(iconCard2, titleCard2)
						+card-diagnostics(iconCard3, titleCard3)
						+card-diagnostics(iconCard4, titleCard4)
