footer.footer#footer
    .container
        .footer__wrapper
            .footer__top
                div
                    .footer__logo
                        img.logo(src="img/logo.svg" alt="Логотип " + projectName width="222" height="45" decoding="async")
                    ul.footer__contacts
                        li
                            a.footer__link(href="tel:+380676625801")
                                span.footer__link-icon
                                    span.icon.icon_phone.icon_s
                                span.footer__link-text +38(067) 66-25-801
                        li
                            a.footer__link(href="mailto:service@hunters-garage.com.ua")
                                span.footer__link-icon
                                    span.icon.icon_mail.icon_s
                                span.footer__link-text service@hunters-garage.com.ua
                        li
                            .footer__link.footer__link_time
                                span.footer__link-icon
                                    span.icon.icon_time.icon_s
                                span.footer__link-text ПН-ПТ: 08:00-19:00 <br> СБ. 09:00-18:00, НД. 09:00-16:00
                .footer__cols
                    .footer__col
                        .footer__category.text-s Послуги
                        ul.footer__list
                            li
                                a.footer__item(href="service-diagnostics.html") Діагностика
                            li
                                a.footer__item(href="service-electricity.html") Електрика
                            li
                                a.footer__item(href="service-interior.html") Інтер'єр
                            li
                                a.footer__item(href="service-wash.html") Мийка
                            li
                                a.footer__item(href="service-certificate.html") Сертифікація
                            li
                                a.footer__item(href="service-body.html") Кузовний ремонт та фарбування
                            li
                                a.footer__item(href="#") Інші послуги
                    .footer__col
                        .footer__category.text-s Сторінки
                        ul.footer__list
                            li
                                a.footer__item(href="portfolio.html") Портфоліо
                            li
                                a.footer__item(href="#") Акції
                            li
                                a.footer__item(href="prices.html") Ціни
                            li
                                a.footer__item(href="#") Підбір авто
                    .footer__col
                        .footer__category.text-s Автосервіс
                        ul.footer__list
                            li
                                a.footer__item(href="about-us.html") Про нас
                            li
                                a.footer__item(href="#") Блог
                            li
                                a.footer__item(href="#") Вакансії
                            li
                                a.footer__item(href="#") Контакти
                            li
                                a.footer__item(href="#") Відгуки
                            li
                                a.footer__item(href="#") Гарантія
                            li
                                a.footer__item(href="#") Оферта
            .footer__bottom
                ul.social-networks
                    li.social-networks__item
                        a.social-networks__link(href="#" rel="noopenner nofollow noreferrer")
                            span.icon.icon_facebook
                            span.visually-hidden(translate="no") Facebook
                    li.social-networks__item
                        a.social-networks__link(href="#" rel="noopenner nofollow noreferrer")
                            span.icon.icon_instagram
                            span.visually-hidden(translate="no") Instagram
                    li.social-networks__item
                        a.social-networks__link(href="#" rel="noopenner nofollow noreferrer")
                            span.icon.icon_tiktok
                            span.visually-hidden(translate="no") Tiktok
                    li.social-networks__item
                        a.social-networks__link(href="#" rel="noopenner nofollow noreferrer")
                            span.icon.icon_youtube
                            span.visually-hidden(translate="no") Youtube
                ul.pay-methods
                    li.pay-methods__item
                        span.pay-method.pay-method_visa
                        span.visually-hidden(translate="no") Visa
                    li.pay-methods__item
                        span.pay-method.pay-method_master-card
                        span.visually-hidden(translate="no") Master card
                    li.pay-methods__item
                        span.pay-method.pay-method_prostir
                        span.visually-hidden(translate="no") Простір

    .footer__copyright © 2024 "Hunter-Garage". Усі права захищені.
