- var projectName = 'Hunters Garage';

doctype html
<html lang="uk">
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title + ' | ' + projectName

		meta(name="description", content="Description")

		link(rel="stylesheet", href="css/main.css")

		link(rel="shortcut icon", href="img/favicons/favicon.ico", type="image/x-icon")
		link(rel="icon", href="img/favicons/favicon-16x16.png" sizes="16x16")
		link(rel="icon", href="img/favicons/favicon-32x32.png" sizes="32x32")
		link(rel="apple-touch-icon-precomposed", href="img/favicons/apple-touch-icon-144x144.png" sizes="144x144")
		link(rel="apple-touch-icon-precomposed", href="img/favicons/apple-touch-icon-152x152.png" sizes="152x152")

		link(rel="preload", href="img/placeholder.png", as="image")

		meta(name="theme-color", content="#000")
		meta(name="application-name", content=projectName)
		meta(name="msapplication-TileColor", content="#")
		meta(name="msapplication-TileImage", content="img/favicons/mstile-144x144.png")
