header.header
	.container
		.header__wrapper
			.header__col.header__col_left
				a.header__logo(href="/")
					img.logo(src="img/logo.svg" alt="Логотип " + projectName width="222" height="45")
				nav.menu(aria-label="Основне меню")
					ul.menu__list(role="menubar" aria-label="Основне меню")
						li.menu__item(role="none")
							a.menu__link(role="menuitem" href="prices.html") Ціни
						li.menu__item(role="none")
							button.menu__link._trigger-dropdown(role="menuitem" aria-haspopup="true" aria-expanded="false" type="button")
								span Послуги
								span.icon.icon_chevron-header.icon_s
							ul.dropdown.dropdown_main(hidden)
								li.dropdown__item
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Діагностика
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Діагностика")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Технічне обслуговування та ремонт
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Технічне обслуговування та ремонт")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Електрика
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Електрика")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Інтер'єр
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Інтер'єр")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Автомийка
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Автомийка")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Сертифікація
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Сертифікація")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Кузовний ремонт та фарбування
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Кузовний ремонт та фарбування")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
									a.dropdown__link(role="menuitem" href="#" aria-haspopup="true" aria-expanded="false") Інші послуги
									ul.dropdown.dropdown_submenu(hidden role="menu" aria-label="Інші послуги")
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика автомобіля
										li.dropdown__item
											a.dropdown__link(role="menuitem" href="#") Діагностика електрообладнання
						li.menu__item(role="none")
							a.menu__link(role="menuitem" href="portfolio.html") Портфоліо
						li.menu__item(role="none")
							a.menu__link(role="menuitem" href="#")
								span Акції
								span.icon.icon_sale.icon_s
						li.menu__item(role="none")
							a.menu__link(role="menuitem" href="#footer") Контакти
			.header__col.header__col_right
				a.phone(href="tel:+380676625801")
					span.phone__icon
						span.icon.icon_phone.icon_m
					span.phone__text +38(067) 66-25-801
				.header__btn
					.btn-wrapper
						a.btn.btn_white(href="#") Залишити заявку
