.hero
	section.hero__carousel
		h1.visually-hidden Заголовок
		.hero__slide(data-flickity-bg-lazyload="img/hero/1.webp")
			.container
				article.hero__content
					h2.hero__title.display-1.accent-color Встановлення STARLINK на авто
					p.hero__text Швидкісний супутниковий інтернет будь-де і за будь-яких умов. Гарантуємо надійність конструкції та стійкість кріплення до вібрацій і швидкості.
					.hero__btns
						.btn-wrapper
							a.btn.btn_yellow(href="#") Онлайн-запис
		.hero__slide(data-flickity-bg-lazyload="img/hero/1.webp")
			.container
				article.hero__content
					h2.hero__title.display-1.accent-color Встановлення STARLINK на авто
					p.hero__text Швидкісний супутниковий інтернет будь-де і за будь-яких умов. Гарантуємо надійність конструкції та стійкість кріплення до вібрацій і швидкості.
					.hero__btns
						.btn-wrapper
							a.btn.btn_yellow(href="#") Онлайн-запис
		.hero__slide(data-flickity-bg-lazyload="img/hero/1.webp")
			.container
				article.hero__content
					h2.hero__title.display-1.accent-color Встановлення STARLINK на авто
					p.hero__text Швидкісний супутниковий інтернет будь-де і за будь-яких умов. Гарантуємо надійність конструкції та стійкість кріплення до вібрацій і швидкості.
					.hero__btns
						.btn-wrapper
							a.btn.btn_yellow(href="#") Онлайн-запис
		.hero__slide(data-flickity-bg-lazyload="img/hero/1.webp")
			.container
				article.hero__content
					h2.hero__title.display-1.accent-color Встановлення STARLINK на авто
					p.hero__text Швидкісний супутниковий інтернет будь-де і за будь-яких умов. Гарантуємо надійність конструкції та стійкість кріплення до вібрацій і швидкості.
					.hero__btns
						.btn-wrapper
							a.btn.btn_yellow(href="#") Онлайн-запис
		.controll
			button(type="button").carousel-btn.carousel-btn_previous.carousel-btn_white._arrow_previous
				span.visually-hidden Назад
				span.icon.icon_chevron
			span.controll__number.controll__number_min 01
			progress.progress(min="1" value="1" max="4")
			span.controll__number.controll__number_max 04
			button(type="button").carousel-btn.carousel-btn_next.carousel-btn_white._arrow_next
				span.visually-hidden Назад
				span.icon.icon_chevron
