.how-it-works
	.container
		section.how-it-works__inner
			.how-it-works__col.how-it-works__col_left
				h2.h2.how-it-works__title Як це працює
				p.how-it-works__text Lorem Ipsum - это текст-"рыба", часто используемый в  печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для  текстов на латинице с начала XVI века.
				.how-it-works__icon
					span.icon-wrapper
						span.icon.icon_l.icon_gear-six
			.how-it-works__col.how-it-works__col_right
				article.how-it-works__item
					.how-it-works__item-separator
					.how-it-works__item-head
						span.icon.icon_phone-outline.icon_m
						h3.how-it-works__item-title.h6 Зв'язок
					.how-it-works__item-body
						p.how-it-works__item-text Залиште заявку на дзвінок або запис, і ми одразу зв’яжемося з Вами для уточнення всіх деталей та призначення зустрічі.
						.how-it-works__item-btn
							.btn-wrapper
								a.btn.btn_yellow(href="#") Замовити дзвінок
				article.how-it-works__item
					.how-it-works__item-separator
					.how-it-works__item-head
						span.icon.icon_calendar.icon_m
						h3.how-it-works__item-title.h6 Зустріч
					.how-it-works__item-body
						p.how-it-works__item-text В обумовлений час на Вас вже чекатимуть експерти, яким ви довірите автомобіль, попередньо узгодивши всі умови співпраці.
						.how-it-works__item-btn
							.btn-wrapper
								a.btn.btn_yellow(href="#") Записати авто
				article.how-it-works__item
					.how-it-works__item-separator
					.how-it-works__item-head
						span.icon.icon_work.icon_m
						h3.how-it-works__item-title.h6 Співпраця
					.how-it-works__item-body
						p.how-it-works__item-text Ми працюємо, а Ви відпочиваєте, насолоджуючись смачною кавою в  комфортній зоні очікування.
						.how-it-works__item-btn
							.btn-wrapper
								a.btn.btn_yellow(href="#") Контакти
