.info
	.container
		section.info__inner
			h2.visually-hidden Назва секції
			.info__col.info__col_left
				button.info__item._active(type="button" aria-controls="info-media-1")
					span.info__title.h2 Підмінний автомобіль
					span.info__text.body-l Залишайтесь мобільними під час ремонту чи обслуговування Вашого транспортного засобу.
				button.info__item(type="button" aria-controls="info-media-2")
					span.info__title.h2 Консьєрж-сервіс
					span.info__text.body-l Зручне рішення, яке заощаджує час та дозволяє здійснити обслуговування  авто, не відволікаючись від важливих справ.  Автоконсьєрж HUNTERS прийме автомобіль у зручному для Вас місці,  доправить його на сервіс, проконтролює ремонт і поверне у визначений час за вказаною адресою.
				button.info__item(type="button" aria-controls="info-media-3")
					span.info__title.h2 Підмінний автомобіль
					span.info__text.body-l Окрім технічного обслуговування, ремонтних робіт та догляду за  автомобілем, Hunters Garage пропонує послуги страхування за вигідними  умовами.  Наші експерти, завдяки тісній співпраці з надійними страховими  компаніями: АRX, PZU, СК Арсенал, UNIQA та ВУСО, відповідно до Ваших  потреб і побажань.
			.info__col
				.info__media(id="info-media-1")
					picture
						source(srcset="img/placeholder.png" data-srcset="img/info/1.webp" type="image/webp")
						img.info__img.lozad(src="img/info/1.jpg" srcset="img/placeholder.png" data-srcset="img/info/1.jpg" alt="" width="700")
				.info__media(id="info-media-2" hidden)
					picture
						source(srcset="img/placeholder.png" data-srcset="img/info/2.webp" type="image/webp")
						img.info__img.lozad(src="img/info/2.jpg" srcset="img/placeholder.png" data-srcset="img/info/2.jpg" alt="" width="700")
				.info__media(id="info-media-3" hidden)
					picture
						source(srcset="img/placeholder.png" data-srcset="img/info/3.webp" type="image/webp")
						img.info__img.lozad(src="img/info/3.jpg" srcset="img/placeholder.png" data-srcset="img/info/3.jpg" alt="" width="700")
