.philosophie
	.container
		.philosophie__grid(id="philosophie")
			div
				.h2 Філософія <span class="accent-color">Hunters</span>
			.empty
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_human.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">Human</span> – людяність.
					p.text-l.philosophie-card__text Орієнтація на комфорт клієнта, швидкий зв'язок і турботу про автомобіль та безпеку власника.
			.empty
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_userful.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">Useful</span> – користь.
					p.text-l.philosophie-card__text Ми впроваджуємо нові послуги, стежимо за тенденціями й підтримуємо високі стандарти.
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_neat.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">Neat</span> – охайність.
					p.text-l.philosophie-card__text Комфортний простір, чистота та порядок – наші клієнти довіряють нам турботу про їх авто.
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_true.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">True</span> – чесність.
					p.text-l.philosophie-card__text Прозора діагностика та відкритість у ціноутворенні – гарантія довіри клієнтів.
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_easy.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">Easy</span> – простота.
					p.text-l.philosophie-card__text Легкий запис, консультації експерта, швидке обслуговування та зручний процес.
			.philosophie-card
				.philosophie-card__num
				.philosophie-card__icon
					span.icon.icon_respectful.icon_l
				.philosophie-card__text
					.h5.philosophie-card__title <span class="accent-color">Respectful</span> – шанобливість.
					p.text-l.philosophie-card__text Ми цінуємо кожного клієнта, готові допомагати завжди і всюди
		.philosophie__btns
			.btn-wrapper
				button.btn.btn_yellow._show-all(type="button" data-target="#philosophie") Показати всі
