.container
	.promo
		picture
			source(srcset="img/placeholder.png" data-srcset="img/promo.webp" type="image/webp")
			img.promo__img.lozad(src="img/promo.jpg" srcset="img/placeholder.png" data-srcset="img/promo.jpg" alt="" width="1060")
		.promo__inner
			.promo__subtitle.h5.bold Мережа автосервісів
			.promo__title.h2.bold HUNTERS GARAGE
			.promo__text Технічне обслуговування, кузовні роботи, ремонти двигуна, автоательє та послуги з догляду.
			.promo__btn
				.btn-wrapper
					a.btn.btn_yellow(href="#")  Онлайн-запис
