.team
	.container
		.team__inner
			h2.team__title.h2.text-center Наша команда
			.team__carousel
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/1.webp" type="image/webp")
						img.team__img.lozad(src="img/team/1.png" srcset="img/placeholder.png" data-srcset="img/team/1.png" alt="Юрій сервісний консультант з кузовного ремонту" width="306")
					.team__name.h6 Юрій
					.team__position.body-l сервісний консультант з кузовного ремонту
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/3.webp" type="image/webp")
						img.team__img.lozad(src="img/team/3.png" srcset="img/placeholder.png" data-srcset="img/team/3.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/4.webp" type="image/webp")
						img.team__img.lozad(src="img/team/4.png" srcset="img/placeholder.png" data-srcset="img/team/4.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/5.webp" type="image/webp")
						img.team__img.lozad(src="img/team/5.png" srcset="img/placeholder.png" data-srcset="img/team/5.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/6.webp" type="image/webp")
						img.team__img.lozad(src="img/team/6.png" srcset="img/placeholder.png" data-srcset="img/team/6.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/7.webp" type="image/webp")
						img.team__img.lozad(src="img/team/7.png" srcset="img/placeholder.png" data-srcset="img/team/7.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/8.webp" type="image/webp")
						img.team__img.lozad(src="img/team/8.png" srcset="img/placeholder.png" data-srcset="img/team/8.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/9.webp" type="image/webp")
						img.team__img.lozad(src="img/team/9.png" srcset="img/placeholder.png" data-srcset="img/team/9.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/10.webp" type="image/webp")
						img.team__img.lozad(src="img/team/10.png" srcset="img/placeholder.png" data-srcset="img/team/10.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/11.webp" type="image/webp")
						img.team__img.lozad(src="img/team/11.png" srcset="img/placeholder.png" data-srcset="img/team/11.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней
				.carousel-cell.team__slide
					picture
						source(srcset="img/placeholder.png" data-srcset="img/team/12.webp" type="image/webp")
						img.team__img.lozad(src="img/team/12.png" srcset="img/placeholder.png" data-srcset="img/team/12.png" alt="Максим сервісний консультант" width="306")
					.team__name.h6 Максим
					.team__position.body-l сервісний консультант
					.team__experience Стаж: 1 год 5 месяцев 10 дней

			button.team__arrow.team__arrow_previous._arrow_previous(type="button")
				span.visually-hidden Назад
			button.team__arrow.team__arrow_next._arrow_next(type="button")
				span.visually-hidden Далі
			.team__controll
				button(type="button").carousel-btn.carousel-btn_previous.carousel-btn_white._arrow_previous
					span.visually-hidden Назад
					span.icon.icon_chevron
				button(type="button").carousel-btn.carousel-btn_next.carousel-btn_white._arrow_next
					span.visually-hidden Далі
					span.icon.icon_chevron
