@use '../base/mixins' as *;
@use '../base/vars' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Play, sans-serif;
	line-height: 140%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100lvh;
}

.main {
	flex: 1;
}

a {
	text-decoration: none;
	cursor: pointer;

	@include hover {
		text-decoration: underline;
	}
}

.mark {
	background-color: $primary;
	color: $gray-100;
	border-radius: 50px;
	padding-inline: 20px;
}

.iframe-video {
	aspect-ratio: 16 / 9;
	border: none;
	max-width: calc(100% - var(--container-padding));
	width: var(--container-width);
}
