@use '../base/vars' as *;
@use '../base/mixins' as *;

.single {
	--single-bg: var(--gray-0);

	padding-top: var(--header-height);
	padding-bottom: $section-margin;

	&__body {
		padding-top: 12px;

		&_article {
			max-width: 1140px;
			width: 100%;
		}
	}

	&__search {
		margin-bottom: 12px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 40px;

		.big-card {
			&::after {
				background: linear-gradient(45deg, transparent 0%, transparent 49.9%, var(--gray-0) 50%, var(--gray-0) 100%);
			}

			&:nth-of-type(6n + 1) {
				grid-column: 1 / 4;
			}

			&:nth-of-type(6n + 2) {
				grid-column: 4 / -1;
			}

			&:nth-of-type(6n + 3) {
				grid-column: 1 / 3;
			}

			&:nth-of-type(6n + 4) {
				grid-column: 3 / 5;
			}

			&:nth-of-type(6n + 5) {
				grid-column: 5 / -1;
			}

			&:nth-of-type(6n) {
				grid-column: 1 / -1;
			}

			&::after {
				background: linear-gradient(45deg, transparent 0%, transparent 49.9%, var(--single-bg) 50%, var(--single-bg) 100%);
			}
		}
	}

	&__sale {
		display: grid;
		gap: 40px;
		grid-template-columns: repeat(2, 1fr);

		.big-card {
			&::after {
				background: linear-gradient(45deg, transparent 0%, transparent 49.9%, var(--single-bg) 50%, var(--single-bg) 100%);
			}
		}
	}

	&__img {
		margin-bottom: 32px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 20px;

		a {
			color: inherit;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	&__title {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 25px;
		margin-bottom: 40px;
	}

	&__subtitle {
		margin-top: 14px;
	}

	&__breadcrumb {
		margin-bottom: 24px;
	}

	&__portfolio {
		display: grid;
		gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	}

	&-card {
		position: relative;

		&::after,
		&::before {
			position: absolute;
			content: "";
			pointer-events: none;
		}

		&::after {
			top: 0;
			right: 0;
			width: 80px;
			height: 80px;
			background: linear-gradient(45deg, transparent 0%, transparent 49.9%, $gray-0 50%, $gray-0 100%);
		}

		&::before {
			z-index: 2;
			pointer-events: none;
			width: 24px;
			height: 24px;
			top: 12px;
			right: 12px;
			background-color: $gray-100;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-image: url("../img/svgicons/arrow.svg");
			-webkit-mask-image: url("../img/svgicons/arrow.svg");
			opacity: 0;
		}

		@include hover {
			&::after {
				background: linear-gradient(45deg, transparent 0%, transparent 49.9%, $primary 50%, $primary 100%);
			}

			&::before {
				opacity: 1;
			}
		}
	}

	&_prices {
		background-color: $gray-20;
		margin-bottom: $section-margin;
	}
}
