extends layouts/layout.pug

block title
	- var title = "Мийка";

block content
	- var title = "Мийка"
	- var srcPath = "service/wash/hero"
	- var text = "Використовуємо лише перевірені мийні засоби, завжди залишаючись уважними до деталей, індивідуальних особливостей авто та ступеня забруднень."
	- var bubble = true
	include blocks/service-hero

	- var srcPath = "service/wash/2"
	- var title = "Послуги мийки:"
	- var items = ["Мийка кузова автомобіля", "Прибтрання в салоні", "Хімчистка", "Полірування кузова автомобіля"]
	- var showList = true
	- var showText = false
	include blocks/fifty-fifty

	.decision
		.container
			.decision__wrapper
				.container.container_1172
					.decision__inner
						.decision__col
							.decision__content
								h2.h2.decision__title Комплексне рішення
								p.text-l.decision__body Мийка в Hunters Garage - це не лише якісна послуга для вашого автомобіля. Це також комфорт очікування та високий сервіс.
							.decision__btns
								.btn-wrapper
									a.btn.btn_yellow(href="#") Замовити послугу
								.btn-wrapper
									a.btn.btn_white(href="#") Ціни на послуги
						.decision__col
							.decision__media
								picture
									source(srcset="img/placeholder.png" data-srcset="img/service/wash/3.webp" type="image/webp")
									img.lozad(src="img/service/wash/3.jpg" srcset="img/placeholder.png" data-srcset="img/service/wash/3.jpg" alt="Назва відео" width="550")
								//- .video.video_mini.pswp-gallery.relative
									- var image = 'about-us'
									- var videoID = 'JGwWNGJdvx8'
									a.video__link(href="https://youtu.be/" + videoID  target="_blank" rel="noopenner nofollow noreferrer" data-pswp-type="youtube-video" data-id=videoID)
										span.visually-hidden Назва відео
										video(autoplay muted loop width="550" height="430")
											source(src="files/wash.webm" type="video/webm")
											source(src="files/wash.mp4" type="video/mp4")
									.video__play


	- var iconCard1 = "shine"
	- var titleCard1 = "Стан кузова"
	- var iconCard2 = "paint"
	- var titleCard2 = "Захист фарби"
	- var iconCard3 = "neat"
	- var titleCard3 = "Естетика"
	- var iconCard4 = "smiley-wink"
	- var titleCard4 = "Гарний настрій"

	- var title = "Мийка - це не лише про красу"
	- var text = ""
	include blocks/diagnostics

	- var slides = [1, 2, 3, 4, 5, 6];
	include blocks/portfolio

	.services
		.container
			.services__title.h2.text-center Сервіси
			ul.services__grid
				+card-service("car-dash", "від 750 до 2200 грн.", "Мийка")
				+card-service("spray", "від 750 до 2200 грн.", "Хімчистка")
				+card-service("polishing", "від 750 до 2200 грн.", "Полірування")

	include blocks/promo

	include blocks/app

	+prefooter("Які фактори впливають на регулювання розвалу-сходження?", "Регулювання розвалу-сходження - це процес, який регулює кут між колесами на автомобілі. Це важливо для забезпечення безпеки та керованості  автомобіля. Існує ряд факторів, які впливають на регулювання  розвалу-сходження, зокрема: Тип автомобіля. Різні типи автомобілів мають різні потреби в регулюванні розвалу-сходження. Наприклад, спортивні  автомобілі потребують більшого розвалу, ніж Регулювання розвалу-сходження – це процес, який регулює кут між колесами на автомобілі. Це важливо для забезпечення безпеки та керованості  автомобіля. Існує ряд факторів, які впливають на регулювання  розвалу-сходження, зокрема: Тип автомобіля. Різні типи автомобілів мають різні потреби в регулюванні розвалу-сходження. Наприклад, спортивні  автомобілі потребують більшого розвалу, ніж")(class="h2")
