extends layouts/layout.pug

block title
	- var title = "Регулювання розвалу-сходження";


block content
	- var title = "Регулювання розвалу-сходження"
	- var srcPath = "service/hero"
	- var text = "Проблеми з курсовою стійкістю і керованістю автомобіля часто зумовлені порушенням кутів установки коліс."
	include blocks/service-hero

	.article
		.container.container_988
			.article__title
				h2.h2.text-center Перелік послуг
			.article__table
				table.table
					tbody
						tr.table__row
							th Діагностика двигуна
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 750 до 2200 грн.
						tr.table__row
							th Чистка клапанів горіховим лушпинням
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 5200 грн.
						tr.table__row
							th Заміна піддона двигуна
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 2000 грн.
						tr.table__row
							th Заміна зчеплення
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 6000 грн.
						tr.table__row
							th Діагностика МКПП
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 550 грн.
						tr.table__row
							th Заміна масла МКПП
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 750 грн.
						tr.table__row
							th Чистка-промивка МКПП
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 750 грн.
						tr.table__row
							th Заміна ременя ГРМ та помпи
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 7500 грн.
						tr.table__row
							th Заміна ланцюга ГРМ
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 15000 грн.
						tr.table__row
							th Заміна ременя генератора
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 2000 грн.
						tr.table__row
							th Заміна свічок
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") 900 грн.
						tr.table__row
							th Чистка форсунок
							td.bold
								span(data-title="это текст-\"рыба\", часто используемый в печати и вэб-дизайне.") від 330 грн за 1 шт.
			p.article__text Діагностика автомобіля дозволяє виявити потенційні проблеми на ранніх  стадіях і запобігти їхньому розвитку, заощадивши час і гроші на ремонті  автомобіля в майбутньому.
			p.article__text Hunters Garage має всі необхідні ресурси та інструменти для проведення  якісної діагностики всіх систем автомобіля. Наші досвідчені фахівці  швидко виявлять несправність, встановлять її причину, локалізують  проблему, що вже виникла, а також запропонують автовласнику оптимальний  шлях її усунення.

	section.blocks
		.container
			h2.visually-hidden Перелік послуг
			article.block
				.block__col.block__col_left
					h3.h3 Комп’ютерна діагностика автомобіля
				.block__col.block__col_right.text-l
					p Комп’ютерна діагностика – важлива частина регулярного технічного  обслуговування автомобіля, але є моменти, коли її проведення особливо  актуальне. Наприклад, перед купівлею вживаного автомобіля або тривалими  подорожами, після заміни або ремонту вузлів, а також у разі виникнення  тривожних симптомів.
					p Будьте уважні при збільшенні витрати палива та помітній втраті  потужності, якщо двигун працює нерівномірно, за появи сторонніх шумів та у разі некоректної роботи електрики. Одразу звертайтесь по допомогу в  Hunters.
			article.block
				.block__col.block__col_left
					h3.h3 Високотехнологічне спеціалізоване обладнання
				.block__col.block__col_right.text-l
					p Робота сучасного автомобіля контролюється десятками датчиків, зняття  показань з яких дозволяє з упевненістю визначити несправності, не  вдаючись до демонтажу і розбирання агрегату.
					p Комп’ютерна діагностика проводиться за допомогою спеціального  програмного забезпечення та сканера, який підключається до бортового  комп’ютера автомобіля, але головною умовою  якісного пошуку та аналізу є багаж знань фахівця.
			article.block
				.block__col.block__col_left
					h3.h3 Ми виконуємо такі види діагностики
				.block__col.block__col_right.text-l
					ul.list
						li.list__li
							p діагностика перед придбанням вживаного автомобіля;
						li.list__li
							p діагностика ходової частини та її компонентів;
						li.list__li
							p діагностика на підтікання;
						li.list__li
							p діагностика електрообладнання;
						li.list__li
							p діагностика детектором витоку;
						li.list__li
							p комплекс діагностики ходової та гальмівної систем.
			article.block
				.block__col.block__col_left
					h3.h3 Діагностика ходової частини автомобіля
				.block__col.block__col_right.text-l
					p Крім планової, діагностика ходової частини може знадобитися при виникненні нетипових сторонніх звуків під час руху,  за наявності підвищеного люфту рульового управління та появи кренів під час виконання поворотів, коли автомобіль втрачає власну стійкість і керованість, а також якщо його почало заносити в бік під час гальмування, а довжина гальмівного шляху істотно зросла.
					p Варто зауважити, що зношеність ходової та її компонентів істотно знижує  рівень комфорту пересування, завдає шкоди іншим елементам автомобіля та  ставить під загрозу Вашу безпеку. Тому Hunters  радить проводити  діагностику ходової не рідше одного разу на рік або за перших ознак  відхилення від норми.
			article.block
				.block__col.block__col_left
					h3.h3 Діагностика перед придбанням авто
				.block__col.block__col_right.text-l
					p Діагностика перед придбанням – гарантія вигідного вкладення.
					p Всім відомо про передпродажну підготовку з антидимом у двигун та  герметиком у радіатор, про неякісний ремонт кузова, коли діри залиті  монтажною піною, а геометрія тримається на чесному слові, а також про  брехню в оголошенні у поєднанні зі зниженою ціною.
					p Так без фахової діагностики легко натрапити на заставну, кредитну,  крадену, втоплену, з перебитими номерами розвалюху. Тож перевірка  автомобіля перед купівлею – послуга, на якій точно не варто економити.
					p Hunters радо допоможе Вам не вплутатись в халепу, провівши ретельний  огляд авто, його test-drive, повну технічну діагностику та юридичну  перевірку. У висновку покупець отримає детальний звіт про стан обраного  автомобіля і фахові рекомендації.
			article.block
				.block__col.block__col_left
					h3.h3 Комплексна діагностика авто
				.block__col.block__col_right.text-l
					p Перед далекою дорогою за кермом, важливо переконатися у готовності стану авто до підвищеного навантаження, аби запобігти неприємним  несподіванкам, які можуть статися в зоні обмеженого доступу до  професійної допомоги.
					p Попередня комплексна перевірка автомобіля, зокрема його ходової, гальм,  стану акумулятора та оптики, дасть змогу своєчасно виявити можливі  несправності, усунути їх та з впевненістю рушити у подорож.
					p Ґрунтуючись на багаторічному досвіді обслуговування автомобілів, Hunters підготував збалансований комплекс діагностичних робіт і перевірок, що  допоможуть виявити усі приховані проблеми.
					p Записатись на автодіагностику та поставити наявні запитання можна за телефоном: +380 (73) 195 04 02.
					p Ми чекаємо Вас за адресами: м. Київ, вул. Сумська, 3 та вул. Богатирська, 3Г.

	- var slides = [1, 2, 3, 4, 5, 6];
	include blocks/portfolio

	+prefooter("Які фактори впливають на регулювання розвалу-сходження?", "Регулювання розвалу-сходження - це процес, який регулює кут між колесами на автомобілі. Це важливо для забезпечення безпеки та керованості  автомобіля. Існує ряд факторів, які впливають на регулювання  розвалу-сходження, зокрема: Тип автомобіля. Різні типи автомобілів мають різні потреби в регулюванні розвалу-сходження. Наприклад, спортивні  автомобілі потребують більшого розвалу, ніж Регулювання розвалу-сходження – це процес, який регулює кут між колесами на автомобілі. Це важливо для забезпечення безпеки та керованості  автомобіля. Існує ряд факторів, які впливають на регулювання  розвалу-сходження, зокрема: Тип автомобіля. Різні типи автомобілів мають різні потреби в регулюванні розвалу-сходження. Наприклад, спортивні  автомобілі потребують більшого розвалу, ніж")(class="h2")
