extends layouts/layout.pug

block title
	- var title = "Оновлення салону автомобіля";


block content
	.single
		.container
			.single__body.single__body_article
				.single__breadcrumb
					include ./blocks/breadcrumb
				section
					.single__title
						h1.h1 Оновлення салону автомобіля
					picture
						source(srcset="img/placeholder.png" data-srcset="img/single.webp" type="image/webp")
						img.single__img.lozad(src="img/single.jpg" srcset="img/placeholder.png" data-srcset="img/single.jpg" alt="" width="1140")
					.single__text
						h2.h5 Оновлення керма - 3500 грн, ремонт сидінь з 10% знижкою.
						p Дарувати подарунки собі - приємна інвестиція. На новорічні свята  пропонуємо спеціальну вартість перешиву керма. Акційна вартість 3500  грн.
						p Також даруємо 10% знижку на ремонт сидінь автомобіля.
						p Плануємо запис за тел. <a href="tel:+380501234567">+38 050 123 45 67</a>
						p Пропозиція дійсна з 20.12 до 31.01.2025

