block title
include ../blocks/mixins
include ../blocks/head
<body>
	.wrapper
		include ../blocks/header
		main.main
			block content

		include ../blocks/footer
		include ../blocks/bottom-bar
	include ../blocks/scripts
</body>
</html>
